.Custom {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  justify-content: center;
  height: 100%;
}

.Title {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.FormContainer {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}

.FieldContainer {
  display: flex;

  flex-direction: column;
  margin-bottom: 1rem;
}

.Select {
  width: 100%;
}

.StartButton {
  margin-top: 1rem;
  align-self: center;
}

@media (min-width: 800px) {
  .Custom {
    padding: 0;
    justify-content: flex-start;
  }
  .Title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .FormContainer {
    width: 50%;
    margin-top: 0;
  }

  .FieldContainer {
    flex-direction: row;
    align-items: center;
  }

  .FieldLabel {
    min-width: 200px;
  }

  .Select {
    min-width: 400px;
  }
}
