@media (min-width: 800px) {
  .Layout {
    padding: 5rem;
    margin-left: 7rem;
    background-image: url('../../assets/svg/teacher.svg');
    background-color: #fffaf0;
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 50% 60%;
    height: calc(100vh - 10rem);
  }
}
