.ProgressBar {
  width: 100%;
  height: 15px;
  background-color: #f4f4f4;
  border-radius: 400px;
}

.Progress {
  background-color: #4104db;
  border-radius: 400px;
  height: 15px;
}

@media (min-width: 800px) {
  .ProgressBar {
    height: 20px;
  }
  .Progress {
    height: 20px;
  }
}
