.QuickStart {
  position: relative;
}

.Title {
  font-size: 3rem;
}

@media (min-width: 800px) {
  .QuickStart {
    height: calc(100vh - 10rem);
  }
  .Title {
    margin-bottom: 2rem;
  }
  .ActionBox {
    display: flex;
  }

  .Select {
    width: 400px;
    margin-right: 1rem;
  }
}
